# Entornos virtuales
env/
venv/
.env

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de datos locales y logs
*.sqlite
*.db
*.log

# Node.js / Angular (si tienes frontend en mismo repo)
node_modules/
dist/
.angular/
coverage/

# IDEs y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
